.container {
  padding-top: 70px;
  clear: left;
}
nav .navbar-brand,
.navbar-toggler,
.navbar-toggler-icon {
  color: #fff;
}
.nav-link {
  color: #fff;
}
nav .navbar {
  background: red;
  color: #fff;
}
.page-top-cmds {
  padding: 10px 0;
}
.has-error {
  color: red;
}
.card {
  border: none;
  border-bottom: 1px solid #ccc;
}
.jumbotron {
  background: rgb(211, 217, 224);
}
a,
a:hover {
  color: #333;
  text-decoration: none;
}
.ctgryBtns {
  padding: 12px 0;
}
.ctgryBtn {
  margin: 2px;
  border: "1px solid #111";
  background: rgb(255, 254, 254);
  padding: 2px 4px;
  font-size: 16px;
}
.ctryFont {
  font-size: 20px;
  font-weight: bold;
}
.filterCmds {
  border-top: "1px solid #ccc";
  border-bottom: "1px solid #ccc";
}
.btn-transparent {
  background: transparent;
  border: none;
  padding: 3px;
  color: #111;
  min-width: 30px;
}
.searchBar {
  width: 80%;
  max-width: 600px;
  border: none;
  background: #eee;
  padding: 4px 15px;
  border-radius: 5px;
}
.chgCityBar {
  width: 50%;
  border: none;
  background: #eee;
  padding: 6px 15px;
  border-radius: 5px;
  margin-right: 3px;
}
.chgStateBar {
  width: 30%;
  border: none;
  background: #eee;
  padding: 6px 15px;
  border-radius: 5px;
}
.btnSearch {
  font-size: 18px;
  font-weight: bold;
}
.btnClear {
  font-size: 25px;
  font-weight: bold;
}
@media (max-width: 500px) {
}
